*{
    margin: 0;
    padding: 0;
    /* box-siring: border-box; */
}

body{
    background-color: blueviolet;
    font-family: "roboto", sans-serif;
}

.blue{
    color: rgb(0, 157, 255);
}

header{
    top: 0;
    padding: 20px;
    position: sticky;
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    background-color: aqua(53, 205, 157, 0.423);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: solid 3px green;
}

nav ul li{
    list-style: none;
    display: inline;
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 600;
    transition: all linear .3s;
}

#home{
    display: flex;
    justify-content: space-around;
}

.text{
    width: 50px;
    text-align: justify;
}

.text h1{
    font-size: 34px;
    margin-bottom: center;
}

.text p{
    margin-bottom: 30px;
}

button{
    border: none;
    background-image: linear-gradient(to right, blue,pink);
    color: aqua;
    padding: 8px 20px;
    border-radius: 5px;
    transition: all 5s ease-in-out;
    cursor: pointer;
}

a{
    text-decoration: none;
}

button:hover{
    /* background-image: linear-gradient(to right top, blue,pink); */
    background: transparent;
    border: 2px solid yellow;
    color: black;
}

.grid{
    height: 150vh;
    width: 200vh;
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto;
}
.g{
    border: solid 1px yellow;
}